<div id="js-global-alert" class="alert alert-success" role="alert">
  <button type="button" class="close">
    <span aria-hidden="true">{%- include 'icon-close' -%}</span>
  </button>
  <h5 class="alert-heading"></h5>
  <p class="alert-content"></p>
</div>