<div class="text-center">
  <h3 class="py-5">
    <a href="https://gumroad.com/l/pNfB/sale">
      🔒 Only available in Shopify Premium Theme.
    </a>
  </h3>
</div>

{% schema %}
  {
    "name": "Image with text",
    "settings": [
      {
        "type": "paragraph",
        "content": "🔒 [Only available in Shopify Premium Theme.](https:\/\/gumroad.com\/l\/pNfB\/sale)"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "# Premium section"
      }
    ]
  }
{% endschema %}